@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Calculator";
}

<h2>Index</h2>

<p>@ViewBag.Result</p>

<form method="get" target="_blank" action="http://sum.in.ua/">
    <input type="text" size=20 name="swrd" />
    <input type="submit" value="Тлумачення" />
</form>